.idle-clicker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: auto;
}

.world {
  margin: auto;
  border: 3px solid #a599e9;
}

.green {
  color: green;
}

.red:active {
  color: whitesmoke;
  background-color: rgb(31, 102, 196);
  font-size: 14px;
  padding: 10px;
  /* border-radius: 8px; */
  opacity: 0.6;
  border: 1px solid black;
}

.damage {
  display: flex;
  justify-content: center;

  font-family: monospace;

  margin: 10px;
}

.idle {
  display: flex;
  justify-content: center;

  font-family: monospace;

  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}
.hp {
  display: flex;
  justify-content: center;

  font-family: monospace;

  margin: 10px;
}
.gold {
  display: flex;
  justify-content: center;

  font-family: monospace;

  margin: 10px;
}
