.header {
  display: flex;
  flex-direction: column;
  background-color: #1e1e3f;
  font-family: monospace;
  border: 1px #a599e9 solid;
}

.title {
  display: flex;
  justify-content: center;
}

a:visited {
  text-decoration: none;
  color: #fad000;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #2d2b55;
  border: solid #a599e9;
  border-width: 1px 0px 0px 0px;
}

.navbar a {
  padding: 14px 20px;
  text-decoration: none;
  border: solid #a599e9;
  border-width: 0px 1px 0px 0px;
}

.navbar a:hover {
  opacity: 0.8;
}
.navbar a:active {
  opacity: 0.6;
}

.item {
  background-color: #2d2b55;
  color: #a599e9;
}

.item:visited {
  color: #a599e9;
}

.current-item {
  background-color: #4d21fc;
  text-decoration: none;
}

.current-item:visited {
  color: #a599e9;
}
