.modal-window {
  display: flex;
  flex-direction: column;
  background: dimgray;
  width: 40vw;
  height: 30vh;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: flex;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: rgb(0, 0, 0, 0.5);
}
